<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
        <li class="nav-item">
        <a style="color: #ffa040; font-weight: bold;" routerLink="productos" class="nav-link">Productos</a>
        </li>
        <li class="nav-item">
        <a style="color: #ffa040; font-weight: bold;" routerLink="marcas" class="nav-link">Marcas</a>
        </li>
        <li class="nav-item">
        <a style="color: #ffa040; font-weight: bold;" routerLink="clientes" class="nav-link">Clientes</a>
        </li>
        <li class="nav-item">
        <a style="color: #ffa040; font-weight: bold;" routerLink="pedidos" class="nav-link">Pedidos</a>
        </li>
        <li class="nav-item position-absolute end-0">
        <a style="color: #ffa040; font-weight: bold;" routerLink="/login" class="nav-link">Cerrar sesión</a>
        </li>
    </div>
</nav>
<div class="container mt-3">
    <router-outlet></router-outlet>
</div>